{% capture image_section %}
  {%- liquid
    assign sc_id = '#shopify-section-' | append: section.id
    assign image_desktop = section.settings.section_image
    assign image_mobile = section.settings.section_image_mobile
    assign banner = '.img-banner-' | append: section.id
    assign unique_id_ = section.id | remove: '-'
    assign unique_id = unique_id_ | remove: '_'

    assign breakpoint = section.settings.breakpoint
    assign min_breakpoint = breakpoint
    assign max_breakpoint = breakpoint | plus: 1

    if image_desktop.aspect_ratio < 1
      assign aspect_ratio_desktop = '105%'
    elsif image_desktop.aspect_ratio == 1
      assign aspect_ratio_desktop = '100%'
    elsif image_desktop.aspect_ratio >= 1.2 and image_desktop.aspect_ratio <= 1.4
      assign aspect_ratio_desktop = '100%'
    elsif image_desktop.aspect_ratio >= 1.6 and image_desktop.aspect_ratio <= 1.8
      assign aspect_ratio_desktop = '75%'
    elsif image_desktop.aspect_ratio >= 1.81 and image_desktop.aspect_ratio <= 2.4
      assign aspect_ratio_desktop = '75.25%'
    elsif image_desktop.aspect_ratio >= 2.41 and image_desktop.aspect_ratio <= 2.8
      assign aspect_ratio_desktop = '56.25%'
    elsif image_desktop.aspect_ratio >= 2.81
      assign aspect_ratio_desktop = '56.25%'
    endif

    assign image_desktop_height = image_desktop.width | divided_by: image_desktop.aspect_ratio
    if image_mobile == null
      assign image_desktop_class = ''
    else
      assign image_desktop_class = 'desktop-image'
    endif
  -%}
  <div class="collection-image__content">
    {{
      image_desktop
      | image_url: width: 3000
      | image_tag:
        width: image_desktop.width,
        height: image_desktop_height,
        class: image_desktop_class,
        sizes: '100%',
        loading: 'lazy',
        widths: '165, 265, 360, 535, 750, 1070, 1500, 1780, 2000, 3000, 3800',
        alt: image_desktop.alt
      | escape
    }}

    {% unless image_mobile == null %}
      {%- liquid
        assign image_mobile_height = image_mobile.width | divided_by: image_mobile.aspect_ratio
        assign image_mobile_class = 'mobile-image'
        assign sizes_mobile = '100vw'
      -%}
      {{
        image_mobile
        | image_url: width: 1500
        | image_tag:
          width: image_mobile.width,
          height: image_mobile_height,
          class: image_mobile_class,
          sizes: sizes_mobile,
          loading: loading,
          widths: '165, 265, 360, 535, 750, 1070, 1500, 1780, 2000, 3000',
          alt: image_mobile.alt
        | escape
      }}
    {% endunless %}
  </div>
  <style>
  .collection-image__content {
    grid-column: span 4;
  }
  .mobile-image {
    width: 100%;
    display: none;
  }
  .desktop-image {
    width: 100%;
    display: block;
  }
  @media screen and ( max-width: 768px ) {
    .collection-image__content {
      grid-column: span 2;
    }
    .mobile-image {
      display: block;
    }
    .desktop-image {
      display: none;
    }
  }
</style>
{% endcapture %}
