  <a
    class="alt"
    href="{{ routes.root_url }}"
  >
    &copy; True Classic Tees LLC.
  </a>
  All Rights Reserved
  {{ 'now' | date: "%Y" }}.

  {% comment %}
  <br class="copyright_break">
  Site optimized by
  <a
    class="alt"
    href="https://www.seodirect.org/"
  >
    SEO Direct.
  </a>
  {% endcomment %}
