<div class="bubble" style="top: 10px; left: 10px;">
  <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 8.47059L6.48 13L18 2" stroke="#7CCB7C" stroke-width="2.52101" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>
<div class="bubble" style="width: 8px; height: 8px; top: 25px; left: 25px;">
  <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 8.47059L6.48 13L18 2" stroke="#7CCB7C" stroke-width="2.52101" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>
<div class="bubble" style="width: 10px; height: 10px; top: 5px; left: 40px;">
  <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 8.47059L6.48 13L18 2" stroke="#7CCB7C" stroke-width="2.52101" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>
<div class="bubble" style="width: 7px; height: 7px; top: 35px; left: 5px;">
  <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 8.47059L6.48 13L18 2" stroke="#7CCB7C" stroke-width="2.52101" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>
<div class="bubble" style="width: 9px; height: 9px; top: 20px; left: 50px;">
  <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 8.47059L6.48 13L18 2" stroke="#7CCB7C" stroke-width="2.52101" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>
<div class="bubble" style="width: 6px; height: 6px; top: 45px; left: 30px;">
  <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 8.47059L6.48 13L18 2" stroke="#7CCB7C" stroke-width="2.52101" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>
<div class="bubble" style="width: 11px; height: 11px; top: 15px; left: 15px;">
  <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 8.47059L6.48 13L18 2" stroke="#7CCB7C" stroke-width="2.52101" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>
<div class="bubble" style="width: 7px; height: 7px; top: 50px; left: 40px;">
  <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 8.47059L6.48 13L18 2" stroke="#7CCB7C" stroke-width="2.52101" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>
<div class="bubble" style="width: 9px; height: 9px; top: 30px; left: 5px;">
  <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 8.47059L6.48 13L18 2" stroke="#7CCB7C" stroke-width="2.52101" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>
<div class="bubble" style="width: 8px; height: 8px; top: 10px; left: 50px;">
  <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 8.47059L6.48 13L18 2" stroke="#7CCB7C" stroke-width="2.52101" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>
<div class="check-mark">
  <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 8.47059L6.48 13L18 2" stroke="#7CCB7C" stroke-width="2.52101" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>