.icon-row {
  margin-bottom: var(--spacer-m);

  & .icon-row__inner {
    & > * + * {
      margin-top: var(--spacer-m);
    }

    @media (--medium-down) {
      padding: 0;
    }
  }

  & .icon-row__headline {
    text-align: center;
  }

  & .icon-row__text {
    text-align: center;
  }

  & .icon-row__icon-text a {
    text-decoration-color: #ffffff !important;
    text-decoration: underline;
  }

  & .icon-row__icon-text a:hover {
    text-decoration-color: #000 !important;
  }

  & .icon-row__rotating-text {
    text-align: center;
  }

  & .swiper-wrapper__grid {
    @media (--medium-down) {
      flex-wrap: wrap;

      & .swiper-slide {
        width: calc(50% - 10px) !important;
      }
    }
  }

  & .icon-row__icon,
  & .icon-row__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    & > * + * {
      margin-top: var(--spacer-s);
    }
  }

  & .icon-row__icon-image-wrapper {
    max-height: 50px;
    max-width: 50px;

    & svg {
      max-width: 50px;
      max-height: 50px;
    }
  }

  & .icon-row__icon-text {
    text-align: center;
    max-width: 100px;

    & a::after {
      content: "";
      position: absolute;
      inset: 0;
    }
  }

  & .icon-row__small {
    @media (--medium) {
      flex-direction: row;
    }

    & .icon-row__icon-image-wrapper {
      max-height: 50px;
      max-width: 50px;

      & svg {
        width: 50px;
        height: 50px;
        max-height: 50px;
        max-width: 50px;
      }
    }

    & .icon-row__icon-text {
      font-size: var(--font-size-medium);
      padding-left: 4px;
      max-width: inherit;

      @media (--medium-down) {
        font-size: var(--font-size-small);
        padding: 0;
      }
    }
  }

  & .icon-row__image-wrapper {
    max-width: 200px;
    padding: 0 var(--spacer-s);
  }

  & .icon-row__icon-image-wrapper,
  & .icon-row__image-wrapper {
    & img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  & .inactive-slide {
    @media (--medium) {
      opacity: 0.6;
    }
  }

  & .swiper-button-next,
  & .swiper-button-prev {
    transform: translateY(-50%);

    &::after {
      display: none;
    }
  }

  & .swiper-button-prev {
    left: 0;
  }

  & .swiper-button-next {
    right: 0;
  }

  /* fix an issue with fade effect visible slides */
  & .swiper-main .swiper-slide-visible {
    @media (--medium) {
      opacity: 1 !important;
      transform: initial !important;
    }
  }
}

.icon-row__inner .swiper {
  width: 100%;
}
