/************************************************
Global
*************************************************/

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*::selection {
  color: var(--brand-white);
  background-color: var(--brand-black);
}

*:focus-visible,
*:focus {
  outline: none;
}

body,
html {
  width: 100%;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--body-font-color);
  background-color: var(--body-background-color);
  font-family: var(--body-font-family);

  &.drawer-menu-is-open {
    overflow: hidden !important;
  }
}

p,
a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

main {
  flex: 1;
}

.img-fix {
  height: auto;
  max-width: 150px;
}

:--heading,
:--heading-util,
.subhead {
  line-height: var(--line-height-base);
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

.headline,
.accordion__panel h1,
.accordion__panel h2,
.accordion__panel h3,
.accordion__panel h4,
.accordion__panel h5,
.accordion__panel h6,
:--heading.headline {
  padding: 0;
  display: block;
  line-height: var(--line-height);
  font-family: var(--font-family-headline);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-heading);
  --font-size-h0: 90px;
  --font-size-h1: 60px;
  --font-size-h2: 50px;
  --font-size-h3: 45px;
  --font-size-h4: 40px;
  --font-size-h5: 30px;
  --font-size-h6: 20px;
  --font-size-subhead: 14px;

  --line-height-h0: var(--line-height);
  --line-height-h1: var(--line-height);
  --line-height-h2: var(--line-height);
  --line-height-h3: var(--line-height);
  --line-height-h4: var(--line-height);
  --line-height-h5: var(--line-height);
  --line-height-h6: var(--line-height);

  @media (--xxlarge-down) {
    --font-size-h0: 60px;
    --font-size-h1: 50px;
    --font-size-h2: 45px;
    --font-size-h3: 40px;
    --font-size-h4: 30px;
    --font-size-h5: 24px;
    --font-size-h6: 20px;
    --font-size-subhead: 14px;

    @media (--xlarge-down) {
      --font-size-h0: 60px;
      --font-size-h1: 50px;
      --font-size-h2: 45px;
      --font-size-h3: 40px;
      --font-size-h4: 30px;
      --font-size-h5: 24px;
      --font-size-h6: 20px;
      --font-size-subhead: 14px;

      @media (--large-down) {
        --font-size-h0: 50px;
        --font-size-h1: 45px;
        --font-size-h2: 40px;
        --font-size-h3: 30px;
        --font-size-h4: 26px;
        --font-size-h5: 20px;
        --font-size-h6: 18px;
        --font-size-subhead: 14px;

        @media (--medium-down) {
          --font-size-h0: 34px;
          --font-size-h1: 30px;
          --font-size-h2: 28px;
          --font-size-h3: 24px;
          --font-size-h4: 20px;
          --font-size-h5: 18px;
          --font-size-h6: 16px;
          --font-size-subhead: 14px;

          @media (--small-down) {
            --font-size-h0: 34px;
            --font-size-h1: 30px;
            --font-size-h2: 28px;
            --font-size-h3: 24px;
            --font-size-h4: 20px;
            --font-size-h5: 18px;
            --font-size-h6: 16px;
            --font-size-subhead: 14px;
          }
        }
      }
    }
  }
}

.padding,
:--spacing.padding {
  --padding: 60px;
  --padding-l: 60px;
  --padding-r: 60px;
  --padding-h: 60px;
  --padding-t: 60px;
  --padding-b: 60px;
  --padding-v: 60px;

  @media (--xxlarge -down) {
    --padding: 60px;
    --padding-l: 60px;
    --padding-r: 60px;
    --padding-h: 60px;
    --padding-t: 60px;
    --padding-b: 60px;
    --padding-v: 60px;

    @media (--xlarge-down) {
      --padding: 30px;
      --padding-l: 30px;
      --padding-r: 30px;
      --padding-h: 30px;
      --padding-t: 30px;
      --padding-b: 30px;
      --padding-v: 30px;

      @media (--large-down) {
        --padding: 20px;
        --padding-l: 20px;
        --padding-r: 20px;
        --padding-h: 20px;
        --padding-t: 20px;
        --padding-b: 20px;
        --padding-v: 20px;

        @media (--medium-down) {
          --padding: 10px;
          --padding-l: 10px;
          --padding-r: 10px;
          --padding-h: 10px;
          --padding-t: 10px;
          --padding-b: 10px;
          --padding-v: 10px;

          @media (--small-down) {
            --padding: 10px;
            --padding-l: 10px;
            --padding-r: 10px;
            --padding-h: 10px;
            --padding-t: 10px;
            --padding-b: 10px;
            --padding-v: 10px;
          }
        }
      }
    }
  }
}

:--input {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

:--text {
  line-height: var(--line-height);
  font-family: var(--font-family-body);
  letter-spacing: var(--letter-spacing-text);

  --font-size-xxlarge: 30px;
  --font-size-xlarge: 24px;
  --font-size-large: 18px;
  --font-size-base: 16px;
  --font-size-small: 15px;
  --font-size-xsmall: 14px;
  --font-size-xxsmall: 13px;

  @media (--xxlarge-down) {
    --font-size-xxlarge: 26px;
    --font-size-xlarge: 22px;
    --font-size-large: 20px;
    --font-size-base: 18px;
    --font-size-small: 16px;
    --font-size-xsmall: 14px;
    --font-size-xxsmall: 12px;

    @media (--xlarge-down) {
      --font-size-xxlarge: 26px;
      --font-size-xlarge: 22px;
      --font-size-large: 20px;
      --font-size-base: 18px;
      --font-size-small: 16px;
      --font-size-xsmall: 14px;
      --font-size-xxsmall: 12px;

      @media (--large-down) {
        --font-size-xxlarge: 22px;
        --font-size-xlarge: 20px;
        --font-size-large: 18px;
        --font-size-base: 16px;
        --font-size-small: 14px;
        --font-size-xsmall: 12px;
        --font-size-xxsmall: 10px;

        @media (--medium-down) {
          --font-size-xxlarge: 18px;
          --font-size-xlarge: 16px;
          --font-size-large: 14px;
          --font-size-base: 12px;
          --font-size-small: 10px;
          --font-size-xsmall: 8px;
          --font-size-xxsmall: 6px;

          @media (--small-down) {
            --font-size-xxlarge: 18px;
            --font-size-xlarge: 16px;
            --font-size-large: 14px;
            --font-size-base: 12px;
            --font-size-small: 10px;
            --font-size-xsmall: 8px;
            --font-size-xxsmall: 6px;
          }
        }
      }
    }
  }
}

.padding {
  padding: var(--padding);
}

.script-font {
  font-family: var(--font-family-script);
  font-size: var(--font-size-script);

  &.small {
    --font-size-script: var(--font-size-script-small);
  }
}

.light-font {
  font-weight: var(--font-weight-light);
}

.bold-font {
  font-weight: var(--font-weight-bold);
}

h1,
.h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

h2,
.h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

h3,
.h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

h4,
.h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
}

h5,
.h5 {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
}

h6,
.h6 {
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
}

.h0 {
  font-size: var(--font-size-h0);
  line-height: var(--line-height-h0);
}

.subhead {
  font-size: var(--font-size-subhead);
  font-weight: var(--font-weight-bold);
}

.text,
.text p {
  line-height: var(--line-height);
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

.text.xxl,
.text.xxl p {
  font-size: var(--font-size-xxlarge);
}

.text.xl,
.text.xl p {
  font-size: var(--font-size-xlarge);
}

.text.l,
.text.l p {
  font-size: var(--font-size-large);
}

.text.m,
.text.m p {
  font-size: var(--font-size-base);
}

.text.s,
.text.s p {
  font-size: var(--font-size-small);
}

.text.xs,
.text.xs p {
  font-size: var(--font-size-xsmall);
}

.text.xxs,
.text.xxs p {
  font-size: var(--font-size-xxsmall);
}

.text.color-white p a {
  color: var(--chocolate-light);
}

.text.color-chocolate-light p a {
  color: var(--brand-chocolate-light);
}

/* extra */

.font-x-large {
  font-size: var(--font-size-x-large);
  line-height: var(--line-height-x-large);
}

.font-large {
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
}

.font-medium {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
}

.font-small {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

.rte a {
  text-decoration: underline;
}

.rte {
  &>*+* {
    margin-top: 1.5rem;
  }
}

a:not(.button):not(.input-button),
.pseudo-link {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
  }

  &:active {
    color: var(--link-color-active);
  }

  &.alt {
    --link-color: var(--brand-white);
    --link-color-hover: var(--brand-gray-light);
    --link-color-active: var(--dark-gray);
  }

  &.underline {
    text-decoration: underline;

    &:hover {
      font-weight: var(--font-weight-bold);
    }
  }
}

.underline {
  text-decoration: underline;
}

.skip-link {
  &:focus {
    position: absolute !important;
    overflow: auto;
    width: auto;
    height: auto;
    margin: 0;
    clip: auto;
    color: var(--brand-black);
    background-color: var(--brand-white);
    color: var(--brand-black);
    z-index: 10000;
    transition: none;
  }
}

.four-oh-four-content {
  text-align: center;

  &>*+* {
    margin-top: var(--spacer-m);
  }
}

/* Lazyload images */
.lazy-image {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.is-lazy {
  filter: blur(10px);
}

.is-loaded {
  opacity: 1;
  filter: none;
}

.lazy-image-placeholder {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fafafa;
}

.lazy-image-placeholder::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0));
  content: "";
}

@-webkit-keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* fonts */
.juniper-type{
  font-family:var(--font-juniper) !important;
}
.staff-x-type,
.staff-x-condensed-type {
  font-family: var(--font-staff-x-condensed) !important;
}

.mono-type,
.modernist-mono-type {
  font-family: var(--font-modernist-mono) !important;
  letter-spacing: 0.05em;
}

.juniper-type {
  font-family: var(--font-juniper) !important;
}

.staff-x-condensed-type.light {
  font-weight: 300;
}

.staff-x-condensed-type.medium {
  font-weight: 500;
}

.modernist-type {
  font-family: var(--font-modernist) !important;
}

.roboto-type,
.roboto-mono-type {
  font-family: var(--font-modernist-mono) !important;
}

/* colors */

.color-brand-white,
.color-white,
.color-white p a,
.color-white p a:hover {
  color: var(--brand-white);
}

@media (--medium-down) {
  [class*="color-"].inverse-down {
    color: var(--brand-white);
  }
}

.color-brand-yellow,
.color-yellow {
  color: var(--brand-yellow);
}

.color-brand-holiday-yellow,
.color-holiday-yellow {
  color: var(--brand-holiday-yellow);
}

.color-brand-brown,
.color-brown {
  color: var(--brand-brown);
}

.color-brand-chocolate,
.color-chocolate {
  color: var(--brand-chocolate);
}

.color-brand-chocolate-light,
.color-chocolate-light,
a.text.color-chocolate-light:not(.button):not(.input-button),
.text.color-chocolate-light p a,
.text.color-chocolate-light p a:hover {
  color: var(--brand-chocolate-light);
}

.color-brand-chocolate-mid,
.color-chocolate-mid {
  color: var(--brand-chocolate-mid);
}

.color-brand-chocolate-dark,
.color-chocolate-dark {
  color: var(--brand-chocolate-dark);
}

.color-brand-milk-chocolate,
.color-milk-chocolate {
  color: var(--brand-milk-chocolate);
}

.color-brand-shitake,
.color-shitake {
  color: var(--brand-shitake);
}

.color-brand-sage-light,
.color-sage-light {
  color: var(--brand-sage-light);
}

.color-brand-sage,
.color-sage {
  color: var(--brand-sage);
}

.color-brand-cream-light,
.color-cream-light {
  color: var(--brand-cream-light);
}

.color-brand-cream,
.color-cream {
  color: var(--brand-cream);
}

.color-brand-burlywood,
.color-burlywood {
  color: var(--brand-burlywood);
}

.color-brand-red-light,
.color-red-light {
  color: var(--brand-red-light);
}

.color-brand-red,
.color-red {
  color: var(--brand-red)!important;
}

.color-brand-red-hover,
.color-red-hover {
  color: var(--brand-red-hover);
}

.color-brand-red-active,
.color-red-active {
  color: var(--brand-red-active);
}

.color-brand-gray-light,
.color-gray-light {
  color: var(--brand-gray-light);
}

.color-brand-gray-medium,
.color-gray-medium {
  color: var(--brand-gray-medium);
}

.color-brand-gray,
.color-gray {
  color: var(--brand-gray);
}

.color-brand-gray-dark,
.color-gray-dark,
a.color-gray-dark,
a:not(.button):not(.input-button).color-gray-dark {
  color: var(--brand-gray-dark);
}

.color-brand-black,
.color-black {
  color: var(--brand-black);
}

.color-black-f {
  color: var(--brand-black) !important;
}

/* BG Colors */

.bg-color-white,
.light-bg {
  background-color: var(--brand-white);
}

.bg-color-yellow,
.yellow-bg {
  background-color: var(--brand-yellow);
}

.bg-color-brown,
.brown-bg {
  background-color: var(--brand-brown);
}

.bg-color-chocolate {
  background-color: var(--brand-chocolate);
}

.bg-color-chocolate-light {
  background-color: var(--brand-chocolate-light);
}

.bg-color-chocolate-mid {
  background-color: var(--brand-chocolate-mid);
}

.bg-color-chocolate-dark {
  background-color: var(--brand-chocolate-dark);
}

.bg-color-milk-chocolate {
  background-color: var(--brand-milk-chocolate);
}

.bg-color-shitake {
  background-color: var(--brand-shitake);
}

.bg-color-sage-light {
  background-color: var(--brand-sage-light);
}

.bg-color-sage {
  background-color: var(--brand-sage);
}

.bg-color-cream-light {
  background-color: var(--brand-cream-light);
}

.bg-color-cream,
.cream-bg {
  background-color: var(--brand-cream);
}

.bg-color-burlywood,
.burlywood-bg {
  background-color: var(--brand-burlywood);
}

.bg-color-red-light {
  background-color: var(--brand-red-light);
}

.bg-color-red {
  background-color: var(--brand-red);
}

.bg-color-red-hover {
  background-color: var(--brand-red-hover);
}

.bg-color-red-active {
  background-color: var(--brand-red-active);
}

.bg-color-gray-light {
  background-color: var(--brand-gray-light);
}

.bg-color-gray-medium {
  background-color: var(--brand-gray-medium);
}

.bg-color-gray {
  background-color: var(--brand-gray);
}

.bg-color-gray-dark,
.dark-gray-bg {
  background-color: var(--brand-gray-dark);
}

.bg-color-black {
  background-color: var(--brand-black);
}

/* scrollbar */

::-webkit-scrollbar {

}

@media (--medium-down) {

  *:not(body):not(html):not(#MainContent)::-webkit-scrollbar {
    height: 2px;
  }

  #MainContent::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
  }
}

*:not(body):not(html):not(#MainContent)::-webkit-scrollbar:hover {
  height: 4px;
}

*:not(body):not(html):not(#MainContent)::-webkit-scrollbar-track {
  background: var(--brand-gray-light);
}

*:not(body):not(html):not(#MainContent)::-webkit-scrollbar-thumb {
  background: var(--brand-gray);
}

*:not(body):not(html):not(#MainContent)::-webkit-scrollbar-thumb:hover {
  background: var(--brand-chocolate-mid);
  height: 4px;
}

*:not(body):not(html):not(#MainContent)::-webkit-scrollbar-thumb:active {
  background: var(--brand-chocolate-mid);
  height: 4px;
}

/* svg underline styles */

.underlined-styled {
  display: inline-block !important;
  position: relative !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  fill: inherit !important;
}

.underlined-styled:after {
  position: absolute;
  content: "";
  -webkit-mask: url("data:image/svg+xml;utf8,<svg width='389' height='4' viewBox='0 0 389 4' xmlns='http://www.w3.org/2000/svg'><path d='M0.726682 3.41891C25.3698 4.08021 50.0817 4.02275 74.7261 3.91613C108.831 3.77049 142.928 3.52334 177.017 3.23262C240.086 2.69724 303.166 1.90603 366.27 1.96033C373.563 1.96619 380.884 1.7937 388.171 1.58698C388.99 1.56359 388.564 0.862677 387.908 0.835004C364.473 -0.293901 340.821 0.245542 317.362 0.381734C283.871 0.573814 250.396 0.862692 216.913 1.14663C152.326 1.6965 87.747 2.24164 23.1534 2.62721C15.5868 2.671 8.02008 2.72445 0.453965 2.7296C-0.356371 2.72895 0.0443976 3.41023 0.726559 3.42857L0.726682 3.41891Z' fill='currentColor'/></svg>");
  mask: url("data:image/svg+xml;utf8,<svg width='389' height='4' viewBox='0 0 389 4' xmlns='http://www.w3.org/2000/svg'><path d='M0.726682 3.41891C25.3698 4.08021 50.0817 4.02275 74.7261 3.91613C108.831 3.77049 142.928 3.52334 177.017 3.23262C240.086 2.69724 303.166 1.90603 366.27 1.96033C373.563 1.96619 380.884 1.7937 388.171 1.58698C388.99 1.56359 388.564 0.862677 387.908 0.835004C364.473 -0.293901 340.821 0.245542 317.362 0.381734C283.871 0.573814 250.396 0.862692 216.913 1.14663C152.326 1.6965 87.747 2.24164 23.1534 2.62721C15.5868 2.671 8.02008 2.72445 0.453965 2.7296C-0.356371 2.72895 0.0443976 3.41023 0.726559 3.42857L0.726682 3.41891Z' fill='currentColor'/></svg>");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  max-width: 389px;
  width: 100%;
  height: 6px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.color-brand-white .underlined-styled:after,
.color-white .underlined-styled:after,
.color-brand-white.underlined-styled:after,
.color-white.underlined-styled:after {
  background-color: var(--brand-white) !important;
  fill: var(--brand-white) !important;
  color: var(--brand-white) !important;
}

.color-brand-brown .underlined-styled:after,
.color-brown .underlined-styled:after,
.color-brand-brown.underlined-styled:after,
.color-brown.underlined-styled:after {
  background-color: var(--brand-brown);
  fill: var(--brand-white) !important;
  color: var(--brand-white) !important;
}

.color-brand-chocolate-dark.underlined-styled:after,
.color-chocolate-dark.underlined-styled:after {
  background-color: var(--brand-burlywood);
  fill: var(--brand-white) !important;
  color: var(--brand-white) !important;
}

.color-brand-chocolate .underlined-styled:after,
.color-chocolate .underlined-styled:after,
.color-brand-chocolate.underlined-styled:after,
.color-chocolate.underlined-styled:after,
.color-brand-chocolate-light .underlined-styled:after,
.color-chocolate-light .underlined-styled:after,
.color-brand-chocolate-mid .underlined-styled:after,
.color-chocolate-mid .underlined-styled:after,
.color-brand-chocolate-dark .underlined-styled:after,
.color-chocolate-dark .underlined-styled:after,
.color-brand-milk-chocolate .underlined-styled:after,
.color-milk-chocolate .underlined-styled:after {
  background-color: var(--brand-chocolate-mid)!important;
  fill: var(--brand-chocolate-mid) !important;
  color: var(--brand-chocolate-mid) !important;
}

.color-brand-black .underlined-styled:after,
.color-black .underlined-styled:after {
  background-color: var(--brand-black);
  fill: var(--brand-black) !important;
  color: var(--brand-black) !important;
}

.pad-1 {
  padding: 1rem;
}

.pad-2 {
  padding: 2rem;
}

.pad-3 {
  padding: 3rem;
}

.btn-loading {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.btn-loading .atc-text,
.btn-loading > svg {
  display: none;
}

.btn-loading:after {
  content: " ";
  display: block;
  width: 34px;
  height: 34px;
  margin: 8px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: btn-loading 1.2s linear infinite;
}

@keyframes btn-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}