.hide {
  display: none !important;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

.optimize-hide {
  height: 0;
  width: 0;
  visibility: hidden;
  pointer-events: none;
}

.optimize-hide.nav-item--sub {
  height: inherit !important;
  width: inherit !important;
  visibility: inherit !important;
  pointer-events: inherit !important;
}

.hidden {
  display: none;
  visibility: collapse;
}

.overflow-hidden {
  overflow: hidden;
}

.opacity-hidden {
  opacity: 0;
}

.mobile-only,
.mobile--only {
  @media (--medium) {
    display: none !important;
  }
}

.desktop-only,
.desktop--only {
  @media (--medium-down) {
    display: none !important;
  }
}

.large-up {
  @media (--large-down) {
    display: none !important;
  }
}

.medium-up {
  @media (--medium-down) {
    display: none !important;
  }
}

.small-up {
  @media (--small-only) {
    display: none !important;
  }
}

.mobile-only--header {
  @media (--header-breakpoint) {
    display: none !important;
  }
}

.desktop-only--header {
  @media (--header-breakpoint-down) {
    display: none !important;
  }

  & ul:not(.instant-search-results__list) {
    display: flex;
  }
}

.uppercase {
  text-transform: uppercase;
}

/* Background Images */
.background-cover,
.background-image,
[data-responsive-background] {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

[data-responsive-background-image] {
  opacity: 0.001;
  position: absolute;
  pointer-events: none;
  z-index: -1;
}

.full-width {
  width: 100%;
}

/* BASIC HELPERS */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.contain {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  &>li {
    display: inline-block;
  }
}

.no-scroll {
  position: fixed;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.hidden-scroll {
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

[data-delegate][data-noclick] {
  & * {
    pointer-events: none;
  }
}

/* Select SVG Caret helper */
.disabled {
  opacity: 0.4;
  pointer-events: none;
}

/* Show or Hide with opcacity & height*/

.d-block {
  opacity: 1;
  height: 100%;
  pointer-events: inherit;
}

.d-none {
  opacity: 0;
  height: 0;
  pointer-events: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* margin - vertical */

.mg-y-xxl {
  margin-top: var(--spacer-xxl);
  margin-bottom: var(--spacer-xxl);
}

.mg-t-xxl {
  margin-top: var(--spacer-xxl);
}

.mg-b-xxl {
  margin-bottom: var(--spacer-xxl);
}

.mg-y-xl {
  margin-top: var(--spacer-xl);
  margin-bottom: var(--spacer-xl);
}

.mg-t-xl {
  margin-top: var(--spacer-xl);
}

.mg-b-xl {
  margin-bottom: var(--spacer-xl);
}

.mg-y-l {
  margin-top: var(--spacer-l);
  margin-bottom: var(--spacer-l);
}

.mg-t-l {
  margin-top: var(--spacer-l);
}

.mg-b-l {
  margin-bottom: var(--spacer-l);
}

.mg-y-m {
  margin-top: var(--spacer-m);
  margin-bottom: var(--spacer-m);
}

.mg-t-m {
  margin-top: var(--spacer-m);
}

.mg-b-m {
  margin-bottom: var(--spacer-m);
}

.mg-y-s {
  margin-top: var(--spacer-s);
  margin-bottom: var(--spacer-s);
}

.mg-t-s {
  margin-top: var(--spacer-s);
}

.mg-b-s {
  margin-bottom: var(--spacer-s);
}

.mg-y-xs {
  margin-top: var(--spacer-xs);
  margin-bottom: var(--spacer-xs);
}

.mg-t-xs {
  margin-top: var(--spacer-xs);
}

.mg-b-xs {
  margin-bottom: var(--spacer-xs);
}

@media (--medium-down) {
  .mg-y-xxl {
    margin-top: var(--spacer-xl);
    margin-bottom: var(--spacer-xl);
  }

  .mg-t-xxl {
    margin-top: var(--spacer-xl);
  }

  .mg-b-xxl {
    margin-bottom: var(--spacer-xl);
  }

  .mg-y-xl {
    margin-top: var(--spacer-l);
    margin-bottom: var(--spacer-l);
  }

  .mg-t-xl {
    margin-top: var(--spacer-l);
  }

  .mg-b-xl {
    margin-bottom: var(--spacer-l);
  }

  .mg-y-l {
    margin-top: var(--spacer-m);
    margin-bottom: var(--spacer-m);
  }

  .mg-t-l {
    margin-top: var(--spacer-m);
  }

  .mg-b-l {
    margin-bottom: var(--spacer-m);
  }

  .mg-y-m {
    margin-top: var(--spacer-s);
    margin-bottom: var(--spacer-s);
  }

  .mg-t-m {
    margin-top: var(--spacer-s);
  }

  .mg-b-m {
    margin-bottom: var(--spacer-s);
  }

  .mg-y-s {
    margin-top: var(--spacer-xxs);
    margin-bottom: var(--spacer-xxs);
  }

  .mg-t-s {
    margin-top: var(--spacer-xxs);
  }

  .mg-b-s {
    margin-bottom: var(--spacer-xxs);
  }

  .mg-y-xs {
    margin-top: var(--spacer-xxs);
    margin-bottom: var(--spacer-xxs);
  }

  .mg-t-xs {
    margin-top: var(--spacer-xxs);
  }

  .mg-b-xs {
    margin-bottom: var(--spacer-xxs);
  }
}

.mg-y-none {
  margin-top: 0;
  margin-bottom: 0;
}

.mg-t-none {
  margin-top: 0;
}

.mg-b-none {
  margin-bottom: 0;
}

/* margin - horizontal */

.mg-x-xxl {
  margin-left: var(--spacer-xxl);
  margin-right: var(--spacer-xxl);
}

.mg-x-xl {
  margin-left: var(--spacer-xl);
  margin-right: var(--spacer-xl);
}

.mg-x-l {
  margin-left: var(--spacer-l);
  margin-right: var(--spacer-l);
}

.mg-x-m {
  margin-left: var(--spacer-m);
  margin-right: var(--spacer-m);
}

.mg-x-s {
  margin-left: var(--spacer-s);
  margin-right: var(--spacer-s);
}

.mg-x-xs {
  margin-left: var(--spacer-xs);
  margin-right: var(--spacer-xs);
}

.mg-x-none {
  margin-left: 0;
  margin-right: 0;
}

/* ################################
    PADDING
################################ */

.pg-y-xxl {
  padding-top: var(--spacer-xxl);
  padding-bottom: var(--spacer-xxl);
}

.pg-y-xl {
  padding-top: var(--spacer-xl);
  padding-bottom: var(--spacer-xl);
}

.pg-y-l {
  padding-top: var(--spacer-l);
  padding-bottom: var(--spacer-l);
}

.pg-y-m {
  padding-top: var(--spacer-m);
  padding-bottom: var(--spacer-m);
}

.pg-y-s {
  padding-top: var(--spacer-s);
  padding-bottom: var(--spacer-s);
}

.pg-y-xs {
  padding-top: var(--spacer-xs);
  padding-bottom: var(--spacer-xs);
}

.pg-y-none {
  padding-top: 0;
  padding-bottom: 0;
}

.pg-x-xxl {
  padding-left: var(--spacer-xxl);
  padding-right: var(--spacer-xxl);
}

.pg-x-xl {
  padding-left: var(--spacer-xl);
  padding-right: var(--spacer-xl);
}

.pg-x-l {
  padding-left: var(--spacer-l);
  padding-right: var(--spacer-l);
}

.pg-x-m {
  padding-left: var(--spacer-m);
  padding-right: var(--spacer-m);
}

.pg-x-s {
  padding-left: var(--spacer-s);
  padding-right: var(--spacer-s);
}

.pg-x-xs {
  padding-left: var(--spacer-xs);
  padding-right: var(--spacer-xs);
}

.pg-x-none {
  padding-left: 0;
  padding-right: 0;
}

.pg-l-none {
  padding-left: 0;
}

.pg-r-none {
  padding-right: 0;
}

/* ################################
    SECTION
################################ */

.section-fullwidth {
  width: 100%;
  max-width: 100%;
}

.section-space {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-nopadd {
  padding-left: 0;
  padding-right: 0;
}

@media (--large-down) {
  .content-nopadd-medium-down {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .content-maxwidth-medium {
    padding-left: 8px;
    padding-right: 8px;
  }

  .content-padding-small {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 1024px) {
  .content-maxwidth-medium {
    width: 100%;
    max-width: 1268px;
    margin: auto;
    padding-left: 8px;
    padding-right: 8px;
  }

  .content-maxwidth {
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }
}