/* CONTAINERS */

.container,
ul.container,
.container--narrow,
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@media (--medium-down) {
  .mx-auto--mb {
    margin-left: auto;
    margin-right: auto;
  }
}

.container,
ul.container {
  max-width: var(--container-width);
}

.container--narrow {
  max-width: var(--container-width-narrow);
}

.container--dropdown {
  max-width: var(--global-width-medium);
}

.content-wrapper {
  padding-left: var(--edge-space);
  padding-right: var(--edge-space);
}

.section-spacer {
  padding-top: var(--section-spacer);
  padding-bottom: var(--section-spacer);
}

/* FLEX HELPERS */

.aa,
.ab,
.ba,
.bb,
.flex {
  display: flex;
}

.aa,
.xrow {
  flex-direction: row;
}

.ab,
.xrow-r {
  flex-direction: row-reverse;
}

.ba,
.xcol {
  flex-direction: column;
}

.bb,
.xcol-r {
  flex-direction: column-reverse;
}

.aa.half > * {
  width: 50%;
}

@media (--medium-down) {
  .aa.in {
    flex-direction: column;
  }

  .ab.in {
    flex-direction: column-reverse;
  }

  .aa.half > * {
    width: 100%;
  }
}

.xcenter,
.aa.c,
.ab.c,
.ba.c,
.bb.c {
  justify-content: center;
  align-items: center;
}

.align-center,
.aa.cv-c,
.aa.cv-c,
.ba.cv-c,
.bb.cv-c {
  align-items: center;
}

.align-left,
.aa.cv-t,
.aa.cv-t,
.ba.cv-t,
.bb.cv-t {
  align-items: flex-start;
}

.align-right,
.aa.cv-b,
.aa.cv-b,
.ba.cv-b,
.bb.cv-b {
  align-items: flex-end;
}

.justify-center,
.aa.ch-c,
.aa.ch-c,
.ba.ch-c,
.bb.ch-c {
  justify-content: center;
}

.justify-left,
.aa.ch-l,
.aa.ch-l,
.ba.ch-l,
.bb.ch-l {
  justify-content: flex-start;
}

.justify-right,
.aa.ch-r,
.aa.ch-r,
.ba.ch-r,
.bb.ch-r {
  justify-content: flex-end;
}

/* GRID SYSTEM */

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;
  column-gap: var(--spacer);
  row-gap: var(--spacer);
}

@media screen and (min-width: 750px) {
  .grid {
    column-gap: var(--spacer);
    row-gap: var(--spacer);
  }
}

.grid:last-child {
  margin-bottom: 0;
}

.grid__item {
  width: calc(25% * 3 / 4);
  flex-grow: 1;
  flex-shrink: 0;
}

@media screen and (min-width: 750px) {
  .grid__item {
    width: calc(25% - var(--spacer) * 3 / 4);
  }
}

.grid--1-col .grid__item {
  max-width: 100%;
  width: 100%;
}

.grid--3-col .grid__item {
  width: calc(33.33% * 2 / 3);
}

@media screen and (min-width: 750px) {
  .grid--3-col .grid__item {
    width: calc(33.33% - var(--spacer) * 2 / 3);
  }
}

.grid--2-col .grid__item {
  width: calc(50% / 2);
}

@media screen and (min-width: 750px) {
  .grid--2-col .grid__item {
    width: calc(50% - var(--spacer) / 2);
  }

  .grid--4-col-tablet .grid__item {
    width: calc(25% - var(--spacer) * 3 / 4);
  }

  .grid--3-col-tablet .grid__item {
    width: calc(33.33% - var(--spacer) * 2 / 3);
  }

  .grid--2-col-tablet .grid__item {
    width: calc(50% - var(--spacer) / 2);
  }
}

@media screen and (max-width: 989px) {
  .grid--1-col-tablet-down .grid__item {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 990px) {
  .grid--6-col-desktop .grid__item {
    width: calc(16.66% - var(--spacer) * 5 / 6);
    max-width: calc(16.66% - var(--spacer) * 5 / 6);
  }

  .grid--5-col-desktop .grid__item {
    width: calc(20% - var(--spacer) * 4 / 5);
    max-width: calc(20% - var(--spacer) * 4 / 5);
  }

  .grid--4-col-desktop .grid__item {
    width: calc(25% - var(--spacer) * 3 / 4);
    max-width: calc(25% - var(--spacer) * 3 / 4);
  }

  .grid--3-col-desktop .grid__item {
    width: calc(33.33% - var(--spacer) * 2 / 3);
    max-width: calc(33.33% - var(--spacer) * 2 / 3);
  }

  .grid--2-col-desktop .grid__item {
    width: calc(50% - var(--spacer) / 2);
    max-width: calc(50% - var(--spacer) / 2);
  }
}

@media screen and (min-width: 990px) {
  .grid--1-col-desktop {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .grid--1-col-desktop .grid__item {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 749px) {
  .grid--2-col-tablet-down .grid__item {
    width: calc(50% - var(--spacer) / 2);
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .grid--2-col-tablet-down .grid__item {
    width: calc(50% - var(--spacer) / 2);
  }

  .grid--1-col-tablet-down.grid--peek .grid__item {
    width: calc(100% - var(--spacer) - 3rem);
  }
}

/* misc */

.x-fit {
  width: fit-content;
}

.y-fit {
  height: fit-content;
}
