/* Custom media query to only apply animations if the user has not selected 'prefers-reduced-motion: reduce' */
@media (--motion) {

  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes fadein {
    0% {
      opacity: 0;
      z-index: -101;
    }

    1% {
      z-index: 201;
    }

    100% {
      opacity: 1;
      z-index: 201;
    }
  }

  @keyframes fadeout {
    0% {
      z-index: 201;
      opacity: 1;
    }

    99% {
      opacity: 0;
      z-index: 201;
    }

    100% {
      z-index: -101;
    }
  }
}

/* End of --motion media query */

/* Extra MQ to further reduce animations and transitions */
@media (--reduced-motion) {

  *,
  *::before,
  *::after {
    animation-duration: 0.001s !important;
    transition-duration: 0.001s !important;
  }
}