<div class="container">
  {{ section.settings.html }}
</div>
{% schema %}
{
  "name": "HTML",
  "tag": "section",
  "class": "section-html",
  "settings": [
    {
      "type": "html",
      "id": "html",
      "label": "HTML section"
    }
  ],
  "presets": [
    {
      "name": "HTML"
    }
  ]
}
{% endschema %}

