<div class="container">
  {{ section.settings.liquid }}
</div>
{% schema %}
{
  "name": "Liquid",
  "tag": "section",
  "class": "section-liquid",
  "settings": [
    {
      "type": "liquid",
      "id": "liquid",
      "label": "Liquid section"
    }
  ],
  "presets": [
    {
      "name": "Liquid"
    }
  ]
}
{% endschema %}

