<h1 class="headline h2 text-center" style="transform: rotate(-6deg); padding: 20px 0; text-transform: capitalize; font-family: var(--font-alkaline); color: var(--brand-yellow); font-size: 36px !important; text-shadow: 2px 2px var(--brand-red);">{{ page.title }}</h1>

<div class="rte">
  {{ page.content }}
</div>
