<div class='container'>
  <div class='content-wrapper section-spacer'>
    {% render 'okendo-reviews-widget', product: product %}
  </div>
</div>

{% schema %}
{
  "name": "Product Reviews",
  "tag": "section",
  "class": "product-reviews",
  "settings": [],
  "presets": []
}
{% endschema %}
