{% assign block_settings = section.blocks | map: 'settings' %}
{%- liquid
  assign country_codes = section.settings.country_code | split: ','
  assign exclude_country_codes = section.settings.exclude_country_code | split: ','
  assign should_show_banner = false

  if section.settings.country_code == '' and section.settings.exclude_country_code == ''
    assign should_show_banner = true
  else
    assign is_excluded = false
    for exclude_code in exclude_country_codes
      if localization.country.iso_code == exclude_code
        assign is_excluded = true
        break
      endif
    endfor

    unless is_excluded
      if section.settings.country_code == ''
        assign should_show_banner = true
      else
        for code in country_codes
          if localization.country.iso_code == code
            assign should_show_banner = true
            break
          endif
        endfor
      endif
    endunless
  endif
-%}
{% if should_show_banner %}
  <div class='container'>
    <div class='content-wrapper section-spacer'>
      {% render 'category-slider',
        heading: section.settings.heading,
        block_settings: block_settings
      %}
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "Category Slider",
  "tag": "section",
  "class": "category-slider-section",
  "settings": [
    {
      "type": "header",
      "content": "Geolocation"
    },
    {
      "type": "text",
      "id": "country_code",
      "label": "Country code",
      "info": "Enter the country code for the country you want to show the section to. You can have multiple country codes, just separate them with a comma. Example: US,CA,GB. Leave empty to show to all countries."
    },
    {
      "type": "text",
      "id": "exclude_country_code",
      "label": "Exclude country code",
      "info": "Enter the country code for the countries you DON'T want to show the section to. You can have multiple country codes, just separate them with a comma. Example: US,CA,GB"
    },
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "Shop by category"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "Add CSS Class"
    }
  ],
  "blocks": [
    {
      "name": "Collection",
      "type": "collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "collection_name",
          "label": "Collection name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Category Slider",
      "category": "Text"
    }
  ]
}
{% endschema %}
