
    
    <div
      id="replo-fullpage-element"
      data-runtime-version="bb0e8906-bba0-11ee-981a-e2ddebccd50c"
      style="display: block !important"
    >
      <style id="replo-element-styles">:not(#\20):not(#\20).r-12hafin{display:flex;position:relative;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-12hafin{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-12hafin{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-kzsx1p{height:100px;display:grid;position:relative;flex-grow:1;max-width:100%;min-width:auto;align-self:stretch;flex-basis:0;min-height:auto;align-items:flex-start;flex-shrink:1;justify-content:flex-start;background-color:#000000FF;grid-template-columns:repeat(3, minmax(0, 1fr));}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-kzsx1p{height:54px;position:relative;flex-grow:1;min-width:auto;flex-basis:0;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-kzsx1p{position:relative;flex-grow:1;min-width:auto;flex-basis:0;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-146r4yb{display:flex;max-width:100%;align-self:stretch;flex-basis:auto;align-items:center;flex-shrink:0;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-146r4yb{display:flex;flex-grow:unset;max-width:100%;align-self:stretch;flex-basis:auto;align-items:center;flex-shrink:0;justify-content:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-146r4yb{display:flex;max-width:100%;align-self:stretch;flex-basis:auto;align-items:center;flex-shrink:0;justify-content:center;}}:not(#\20):not(#\20).r-1d2n8qs{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;flex-direction:row;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1d2n8qs{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1d2n8qs{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-4lomdk{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;flex-direction:row;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-4lomdk{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-4lomdk{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-9lbtkb{width:467px;height:54px;display:flex;flex-grow:1;min-width:0;align-self:center;flex-basis:auto;min-height:0;object-fit:contain;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:1;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-9lbtkb{flex-basis:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-9lbtkb{flex-basis:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-r5mzvu{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:contain;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-r5mzvu{object-fit:contain;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-r5mzvu{object-fit:contain;}}:not(#\20):not(#\20).r-3exnzy{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;flex-direction:row;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-3exnzy{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-3exnzy{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-5dw5kk{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;padding-bottom:42px;justify-content:center;background-color:#FFFAECFF;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-5dw5kk{display:flex;position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;padding-bottom:27px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-5dw5kk{display:flex;position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-17kaq1o{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;margin-top:35px;min-height:auto;align-items:center;flex-shrink:0;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-17kaq1o{display:flex;position:relative;min-width:auto;flex-basis:auto;margin-top:16px;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-17kaq1o{display:flex;position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1q6dn9c{display:flex;align-self:center;flex-basis:auto;align-items:center;flex-shrink:0;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1q6dn9c{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1q6dn9c{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-qj1k7{fill:#483021FF;width:16px;height:16px;}:not(#\20):not(#\20).r-2tsmgc{color:#483021;font-size:24px;flex-basis:auto;flex-shrink:0;line-height:26px;padding-left:10px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-2tsmgc{font-size:15px;flex-basis:auto;flex-shrink:0;line-height:26px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-2tsmgc{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-4nq3w3{display:flex;position:relative;max-width:70%;min-width:auto;flex-basis:auto;margin-top:30px;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-4nq3w3{position:relative;max-width:90%;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-4nq3w3{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1c3lw5s{color:#483021FF;flex-grow:1;font-size:44px;flex-basis:auto;text-align:center;flex-shrink:1;font-weight:700;line-height:50px;margin-bottom:20px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1c3lw5s{font-size:19px;max-width:600px;flex-basis:auto;margin-top:-20px;flex-shrink:1;line-height:20px;margin-bottom:25px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1c3lw5s{font-size:39px;max-width:600px;flex-basis:auto;flex-shrink:1;line-height:45px;margin-bottom:15px;text-align-last:center;}}:not(#\20):not(#\20).r-kygmge{color:#483021;font-size:26px;flex-basis:auto;text-align:center;flex-shrink:0;font-weight:400;line-height:30px;margin-bottom:26px;overflow-wrap:break-word;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-kygmge{font-size:14px;max-width:600px;flex-basis:auto;margin-top:-17px;flex-shrink:0;line-height:27px;margin-bottom:34px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-kygmge{font-size:16px;max-width:600px;flex-basis:auto;flex-shrink:0;line-height:27px;margin-bottom:50px;text-align-last:center;}}:not(#\20):not(#\20).r-l7doa9{cursor:pointer;display:flex;overflow:hidden;flex-basis:auto;text-align:center;align-items:center;flex-shrink:0;padding-top:25px;padding-left:45px;padding-right:45px;padding-bottom:25px;justify-content:center;text-align-last:center;background-color:#483021;border-top-left-radius:14px;border-top-right-radius:14px;border-bottom-left-radius:14px;border-bottom-right-radius:14px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-l7doa9{cursor:pointer;overflow:hidden;flex-basis:auto;margin-top:-16px;flex-shrink:0;padding-top:15px;padding-left:25px;padding-right:25px;padding-bottom:15px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-l7doa9{cursor:pointer;overflow:hidden;flex-basis:auto;flex-shrink:0;text-align-last:center;}}:not(#\20):not(#\20).r-vkjbjp{color:#FFFFFFFF;flex-grow:1;font-size:24px;flex-basis:auto;flex-shrink:1;font-weight:400;line-height:26px;overflow-wrap:break-word;letter-spacing:2px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-vkjbjp{font-size:20px;flex-basis:auto;flex-shrink:1;line-height:26px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-vkjbjp{flex-basis:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-9yczt4{display:flex;position:relative;max-width:70%;min-width:auto;flex-basis:auto;margin-top:30px;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;padding-bottom:40px;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-9yczt4{display:flex;position:relative;max-width:90%;min-width:auto;flex-basis:auto;margin-top:43px;min-height:auto;flex-shrink:0;padding-bottom:0px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-9yczt4{display:flex;position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-rqzne5{display:flex;row-gap:70px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:70px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-rqzne5{row-gap:70px;position:relative;min-width:auto;column-gap:70px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-rqzne5{row-gap:70px;position:relative;min-width:auto;column-gap:70px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-ad9gs6{display:flex;row-gap:60px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:60px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-ad9gs6{width:auto;display:flex;row-gap:30px;position:relative;min-width:auto;align-self:stretch;column-gap:30px;flex-basis:auto;margin-top:-15px;min-height:auto;flex-shrink:0;margin-bottom:40px;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-ad9gs6{width:auto;row-gap:40px;position:relative;min-width:auto;align-self:stretch;column-gap:40px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-dp8ver{width:100%;display:flex;max-width:344px;min-width:0;align-self:stretch;flex-basis:auto;max-height:344px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-dp8ver{max-width:100%;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-dp8ver{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-17ejpgy{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-17ejpgy{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-17ejpgy{object-fit:cover;}}:not(#\20):not(#\20).r-19e753{display:flex;row-gap:35px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:35px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-19e753{row-gap:20px;position:relative;flex-grow:1;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-19e753{row-gap:35px;position:relative;min-width:auto;column-gap:35px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1f1m9ob{color:#000000FF;font-size:32px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:800;line-height:40px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1f1m9ob{font-size:24px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1f1m9ob{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:25px;text-align-last:left;}}:not(#\20):not(#\20).r-kf9lnw{color:#000000;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-kf9lnw{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-kf9lnw{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-1gaakc2{display:flex;row-gap:60px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:60px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1gaakc2{display:flex;row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;margin-top:-69px;min-height:auto;flex-shrink:0;margin-bottom:40px;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1gaakc2{row-gap:40px;position:relative;min-width:auto;column-gap:40px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-1dkq3f6{width:100%;display:flex;max-width:344px;min-width:0;align-self:stretch;flex-basis:auto;max-height:344px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1dkq3f6{max-width:100%;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1dkq3f6{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-pjewk{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-pjewk{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-pjewk{object-fit:cover;}}:not(#\20):not(#\20).r-1psn08o{display:flex;row-gap:35px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:35px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1psn08o{row-gap:20px;position:relative;flex-grow:1;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1psn08o{row-gap:35px;position:relative;min-width:auto;column-gap:35px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1ux1jgi{color:#000000FF;font-size:32px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:800;line-height:40px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1ux1jgi{font-size:24px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1ux1jgi{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:25px;text-align-last:left;}}:not(#\20):not(#\20).r-144f1c7{color:#000000;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-144f1c7{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-144f1c7{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-37qoj8{display:flex;row-gap:60px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:60px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-37qoj8{display:flex;row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;margin-top:-64px;min-height:auto;flex-shrink:0;margin-bottom:40px;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-37qoj8{row-gap:40px;position:relative;min-width:auto;column-gap:40px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-1krcjnt{width:100%;display:flex;max-width:344px;min-width:0;align-self:stretch;flex-basis:auto;max-height:344px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1krcjnt{max-width:100%;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1krcjnt{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1sef9ao{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1sef9ao{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1sef9ao{object-fit:cover;}}:not(#\20):not(#\20).r-nft4bl{display:flex;row-gap:35px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:35px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-nft4bl{row-gap:20px;position:relative;flex-grow:1;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-nft4bl{row-gap:35px;position:relative;min-width:auto;column-gap:35px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1n5vaj0{color:#000000FF;font-size:32px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:800;line-height:40px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1n5vaj0{font-size:24px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1n5vaj0{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:25px;text-align-last:left;}}:not(#\20):not(#\20).r-9ct0x5{color:#000000FF;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-9ct0x5{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-9ct0x5{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-15b3eue{display:flex;row-gap:60px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:60px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-15b3eue{display:flex;row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;margin-top:-66px;min-height:auto;flex-shrink:0;margin-bottom:40px;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-15b3eue{row-gap:40px;position:relative;min-width:auto;column-gap:40px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-9p6h18{width:100%;display:flex;max-width:344px;min-width:0;align-self:stretch;flex-basis:auto;max-height:344px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-9p6h18{max-width:100%;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-9p6h18{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-hra1ya{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-hra1ya{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-hra1ya{object-fit:cover;}}:not(#\20):not(#\20).r-1q0kqut{display:flex;row-gap:35px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:35px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1q0kqut{row-gap:20px;position:relative;flex-grow:1;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1q0kqut{row-gap:35px;position:relative;min-width:auto;column-gap:35px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-ofv8lg{color:#000000FF;font-size:32px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:800;line-height:40px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-ofv8lg{font-size:24px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-ofv8lg{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:25px;text-align-last:left;}}:not(#\20):not(#\20).r-1gvaxcq{color:#000000;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1gvaxcq{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1gvaxcq{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-1g4w0k2{display:flex;row-gap:60px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:60px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1g4w0k2{display:flex;row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;margin-top:-71px;min-height:auto;flex-shrink:0;margin-bottom:40px;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1g4w0k2{row-gap:40px;position:relative;min-width:auto;column-gap:40px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-185uxfg{width:100%;display:flex;max-width:344px;min-width:0;align-self:stretch;flex-basis:auto;max-height:344px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-185uxfg{max-width:100%;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-185uxfg{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1abzrw9{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1abzrw9{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1abzrw9{object-fit:cover;}}:not(#\20):not(#\20).r-j2ptwd{display:flex;row-gap:35px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:35px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-j2ptwd{row-gap:20px;position:relative;flex-grow:1;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-j2ptwd{row-gap:35px;position:relative;min-width:auto;column-gap:35px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-u2xwv2{color:#000000FF;font-size:32px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:800;line-height:40px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-u2xwv2{font-size:24px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-u2xwv2{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:25px;text-align-last:left;}}:not(#\20):not(#\20).r-z8rd1a{color:#000000FF;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-z8rd1a{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-z8rd1a{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-1hfmoi1{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;padding-bottom:60px;justify-content:center;background-color:#000000FF;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1hfmoi1{display:flex;position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1hfmoi1{display:flex;position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-ce5213{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;margin-top:60px;min-height:auto;align-items:center;flex-shrink:0;justify-content:center;background-color:#000000FF;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-ce5213{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-ce5213{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1o2e3np{display:flex;align-self:center;flex-basis:auto;align-items:center;flex-shrink:0;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1o2e3np{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1o2e3np{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-noopxz{fill:#FFFFFFFF;width:16px;height:16px;}:not(#\20):not(#\20).r-myl1hk{color:#FFFFFFFF;font-size:24px;flex-basis:auto;flex-shrink:0;line-height:26px;padding-left:10px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-myl1hk{font-size:18px;flex-basis:auto;flex-shrink:0;line-height:26px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-myl1hk{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1j7o5hf{color:#FFFFFFFF;font-size:75px;flex-basis:auto;flex-shrink:0;line-height:102px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1j7o5hf{font-size:37px;flex-basis:auto;flex-shrink:0;line-height:52px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1j7o5hf{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1yzv1e2{color:#FFFFFFFF;font-size:16px;flex-basis:auto;flex-shrink:0;line-height:24px;margin-bottom:33px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1yzv1e2{font-size:12px;flex-basis:auto;flex-shrink:0;line-height:24px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1yzv1e2{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-16wo5gz{cursor:pointer;display:flex;overflow:hidden;flex-basis:auto;text-align:center;align-items:center;flex-shrink:0;padding-top:25px;padding-left:45px;padding-right:45px;padding-bottom:25px;justify-content:center;text-align-last:center;background-color:#FFCB00FF;border-top-left-radius:14px;border-top-right-radius:14px;border-bottom-left-radius:14px;border-bottom-right-radius:14px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-16wo5gz{cursor:pointer;overflow:hidden;flex-basis:auto;margin-top:-8px;flex-shrink:0;padding-top:15px;padding-left:25px;padding-right:25px;padding-bottom:15px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-16wo5gz{cursor:pointer;overflow:hidden;flex-basis:auto;flex-shrink:0;text-align-last:center;}}:not(#\20):not(#\20).r-10ti3m8{color:#FFFFFFFF;flex-grow:1;font-size:24px;flex-basis:auto;flex-shrink:1;font-weight:400;line-height:26px;overflow-wrap:break-word;letter-spacing:2px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-10ti3m8{font-size:20px;flex-basis:auto;flex-shrink:1;line-height:26px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-10ti3m8{flex-basis:auto;flex-shrink:1;}}</style>
<div data-alchemy-element-mount-node="true"><script data-em-disable="true" async="" src="https://replocdn.com/w/c8a4c169-5ee3-4c19-b78b-5c130490279d/e71ab201-4575-4152-964f-e18f22e3ccf5.min.js?v=bb0e8906-bba0-11ee-981a-e2ddebccd50c" id="https://replocdn.com/w/c8a4c169-5ee3-4c19-b78b-5c130490279d/e71ab201-4575-4152-964f-e18f22e3ccf5.min.js?v=bb0e8906-bba0-11ee-981a-e2ddebccd50c"></script><style id="snippet-styles" type="text/css">.alchemy-reset {
  /* HTML5 display-role reset for older browsers */
}
.alchemy-reset :host {
  all: initial;
}
.alchemy-reset * {
  box-sizing: border-box;
}
.alchemy-reset html[data-rid],
.alchemy-reset body[data-rid],
.alchemy-reset div[data-rid],
.alchemy-reset span[data-rid],
.alchemy-reset applet[data-rid],
.alchemy-reset object[data-rid],
.alchemy-reset iframe[data-rid],
.alchemy-reset h1[data-rid],
.alchemy-reset h2[data-rid],
.alchemy-reset h3[data-rid],
.alchemy-reset h4[data-rid],
.alchemy-reset h5[data-rid],
.alchemy-reset h6[data-rid],
.alchemy-reset p[data-rid],
.alchemy-reset blockquote[data-rid],
.alchemy-reset pre[data-rid],
.alchemy-reset a[data-rid],
.alchemy-reset a:visited[data-rid],
.alchemy-reset abbr[data-rid],
.alchemy-reset acronym[data-rid],
.alchemy-reset address[data-rid],
.alchemy-reset big[data-rid],
.alchemy-reset cite[data-rid],
.alchemy-reset code[data-rid],
.alchemy-reset del[data-rid],
.alchemy-reset dfn[data-rid],
.alchemy-reset em[data-rid],
.alchemy-reset img[data-rid],
.alchemy-reset picture[data-rid],
.alchemy-reset ins[data-rid],
.alchemy-reset kbd[data-rid],
.alchemy-reset q[data-rid],
.alchemy-reset s[data-rid],
.alchemy-reset samp[data-rid],
.alchemy-reset small[data-rid],
.alchemy-reset strike[data-rid],
.alchemy-reset strong[data-rid],
.alchemy-reset sub[data-rid],
.alchemy-reset sup[data-rid],
.alchemy-reset tt[data-rid],
.alchemy-reset var[data-rid],
.alchemy-reset b[data-rid],
.alchemy-reset u[data-rid],
.alchemy-reset i[data-rid],
.alchemy-reset center[data-rid],
.alchemy-reset dl[data-rid],
.alchemy-reset dt[data-rid],
.alchemy-reset dd[data-rid],
.alchemy-reset ol[data-rid],
.alchemy-reset ul[data-rid],
.alchemy-reset li[data-rid],
.alchemy-reset fieldset[data-rid],
.alchemy-reset form[data-rid],
.alchemy-reset label[data-rid],
.alchemy-reset legend[data-rid],
.alchemy-reset table[data-rid],
.alchemy-reset caption[data-rid],
.alchemy-reset tbody[data-rid],
.alchemy-reset tfoot[data-rid],
.alchemy-reset thead[data-rid],
.alchemy-reset tr[data-rid],
.alchemy-reset th[data-rid],
.alchemy-reset td[data-rid],
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset canvas[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset embed[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset output[data-rid],
.alchemy-reset ruby[data-rid],
.alchemy-reset section[data-rid],
.alchemy-reset summary[data-rid],
.alchemy-reset time[data-rid],
.alchemy-reset mark[data-rid],
.alchemy-reset audio[data-rid],
.alchemy-reset video[data-rid],
.alchemy-reset button[data-rid],
.alchemy-reset select[data-rid],
.alchemy-reset [data-rid] > p {
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.alchemy-reset html[data-rid]::-webkit-scrollbar,
.alchemy-reset body[data-rid]::-webkit-scrollbar,
.alchemy-reset div[data-rid]::-webkit-scrollbar,
.alchemy-reset span[data-rid]::-webkit-scrollbar,
.alchemy-reset applet[data-rid]::-webkit-scrollbar,
.alchemy-reset object[data-rid]::-webkit-scrollbar,
.alchemy-reset iframe[data-rid]::-webkit-scrollbar,
.alchemy-reset h1[data-rid]::-webkit-scrollbar,
.alchemy-reset h2[data-rid]::-webkit-scrollbar,
.alchemy-reset h3[data-rid]::-webkit-scrollbar,
.alchemy-reset h4[data-rid]::-webkit-scrollbar,
.alchemy-reset h5[data-rid]::-webkit-scrollbar,
.alchemy-reset h6[data-rid]::-webkit-scrollbar,
.alchemy-reset p[data-rid]::-webkit-scrollbar,
.alchemy-reset blockquote[data-rid]::-webkit-scrollbar,
.alchemy-reset pre[data-rid]::-webkit-scrollbar,
.alchemy-reset a[data-rid]::-webkit-scrollbar,
.alchemy-reset a:visited[data-rid]::-webkit-scrollbar,
.alchemy-reset abbr[data-rid]::-webkit-scrollbar,
.alchemy-reset acronym[data-rid]::-webkit-scrollbar,
.alchemy-reset address[data-rid]::-webkit-scrollbar,
.alchemy-reset big[data-rid]::-webkit-scrollbar,
.alchemy-reset cite[data-rid]::-webkit-scrollbar,
.alchemy-reset code[data-rid]::-webkit-scrollbar,
.alchemy-reset del[data-rid]::-webkit-scrollbar,
.alchemy-reset dfn[data-rid]::-webkit-scrollbar,
.alchemy-reset em[data-rid]::-webkit-scrollbar,
.alchemy-reset img[data-rid]::-webkit-scrollbar,
.alchemy-reset picture[data-rid]::-webkit-scrollbar,
.alchemy-reset ins[data-rid]::-webkit-scrollbar,
.alchemy-reset kbd[data-rid]::-webkit-scrollbar,
.alchemy-reset q[data-rid]::-webkit-scrollbar,
.alchemy-reset s[data-rid]::-webkit-scrollbar,
.alchemy-reset samp[data-rid]::-webkit-scrollbar,
.alchemy-reset small[data-rid]::-webkit-scrollbar,
.alchemy-reset strike[data-rid]::-webkit-scrollbar,
.alchemy-reset strong[data-rid]::-webkit-scrollbar,
.alchemy-reset sub[data-rid]::-webkit-scrollbar,
.alchemy-reset sup[data-rid]::-webkit-scrollbar,
.alchemy-reset tt[data-rid]::-webkit-scrollbar,
.alchemy-reset var[data-rid]::-webkit-scrollbar,
.alchemy-reset b[data-rid]::-webkit-scrollbar,
.alchemy-reset u[data-rid]::-webkit-scrollbar,
.alchemy-reset i[data-rid]::-webkit-scrollbar,
.alchemy-reset center[data-rid]::-webkit-scrollbar,
.alchemy-reset dl[data-rid]::-webkit-scrollbar,
.alchemy-reset dt[data-rid]::-webkit-scrollbar,
.alchemy-reset dd[data-rid]::-webkit-scrollbar,
.alchemy-reset ol[data-rid]::-webkit-scrollbar,
.alchemy-reset ul[data-rid]::-webkit-scrollbar,
.alchemy-reset li[data-rid]::-webkit-scrollbar,
.alchemy-reset fieldset[data-rid]::-webkit-scrollbar,
.alchemy-reset form[data-rid]::-webkit-scrollbar,
.alchemy-reset label[data-rid]::-webkit-scrollbar,
.alchemy-reset legend[data-rid]::-webkit-scrollbar,
.alchemy-reset table[data-rid]::-webkit-scrollbar,
.alchemy-reset caption[data-rid]::-webkit-scrollbar,
.alchemy-reset tbody[data-rid]::-webkit-scrollbar,
.alchemy-reset tfoot[data-rid]::-webkit-scrollbar,
.alchemy-reset thead[data-rid]::-webkit-scrollbar,
.alchemy-reset tr[data-rid]::-webkit-scrollbar,
.alchemy-reset th[data-rid]::-webkit-scrollbar,
.alchemy-reset td[data-rid]::-webkit-scrollbar,
.alchemy-reset article[data-rid]::-webkit-scrollbar,
.alchemy-reset aside[data-rid]::-webkit-scrollbar,
.alchemy-reset canvas[data-rid]::-webkit-scrollbar,
.alchemy-reset details[data-rid]::-webkit-scrollbar,
.alchemy-reset embed[data-rid]::-webkit-scrollbar,
.alchemy-reset figure[data-rid]::-webkit-scrollbar,
.alchemy-reset figcaption[data-rid]::-webkit-scrollbar,
.alchemy-reset footer[data-rid]::-webkit-scrollbar,
.alchemy-reset header[data-rid]::-webkit-scrollbar,
.alchemy-reset hgroup[data-rid]::-webkit-scrollbar,
.alchemy-reset menu[data-rid]::-webkit-scrollbar,
.alchemy-reset nav[data-rid]::-webkit-scrollbar,
.alchemy-reset output[data-rid]::-webkit-scrollbar,
.alchemy-reset ruby[data-rid]::-webkit-scrollbar,
.alchemy-reset section[data-rid]::-webkit-scrollbar,
.alchemy-reset summary[data-rid]::-webkit-scrollbar,
.alchemy-reset time[data-rid]::-webkit-scrollbar,
.alchemy-reset mark[data-rid]::-webkit-scrollbar,
.alchemy-reset audio[data-rid]::-webkit-scrollbar,
.alchemy-reset video[data-rid]::-webkit-scrollbar,
.alchemy-reset button[data-rid]::-webkit-scrollbar,
.alchemy-reset select[data-rid]::-webkit-scrollbar,
.alchemy-reset [data-rid] > p::-webkit-scrollbar {
  display: none;
}
.alchemy-reset button[data-rid] {
  align-items: normal;
}
.alchemy-reset button[data-replo-tabs-trigger] {
  color: inherit;
}
.alchemy-reset html[data-rid],
.alchemy-reset body[data-rid],
.alchemy-reset div[data-rid],
.alchemy-reset span[data-rid],
.alchemy-reset applet[data-rid],
.alchemy-reset object[data-rid],
.alchemy-reset iframe[data-rid],
.alchemy-reset h1[data-rid],
.alchemy-reset h2[data-rid],
.alchemy-reset h3[data-rid],
.alchemy-reset h4[data-rid],
.alchemy-reset h5[data-rid],
.alchemy-reset h6[data-rid],
.alchemy-reset p[data-rid],
.alchemy-reset blockquote[data-rid],
.alchemy-reset pre[data-rid],
.alchemy-reset a[data-rid],
.alchemy-reset abbr[data-rid],
.alchemy-reset acronym[data-rid],
.alchemy-reset address[data-rid],
.alchemy-reset big[data-rid],
.alchemy-reset cite[data-rid],
.alchemy-reset code[data-rid],
.alchemy-reset dfn[data-rid],
.alchemy-reset img[data-rid],
.alchemy-reset picture[data-rid],
.alchemy-reset ins[data-rid],
.alchemy-reset kbd[data-rid],
.alchemy-reset q[data-rid],
.alchemy-reset samp[data-rid],
.alchemy-reset small[data-rid],
.alchemy-reset strike[data-rid],
.alchemy-reset sub[data-rid],
.alchemy-reset sup[data-rid],
.alchemy-reset tt[data-rid],
.alchemy-reset var[data-rid],
.alchemy-reset center[data-rid],
.alchemy-reset dl[data-rid],
.alchemy-reset dt[data-rid],
.alchemy-reset dd[data-rid],
.alchemy-reset ol[data-rid],
.alchemy-reset ul[data-rid],
.alchemy-reset li[data-rid],
.alchemy-reset fieldset[data-rid],
.alchemy-reset form[data-rid],
.alchemy-reset label[data-rid],
.alchemy-reset legend[data-rid],
.alchemy-reset table[data-rid],
.alchemy-reset caption[data-rid],
.alchemy-reset tbody[data-rid],
.alchemy-reset tfoot[data-rid],
.alchemy-reset thead[data-rid],
.alchemy-reset tr[data-rid],
.alchemy-reset th[data-rid],
.alchemy-reset td[data-rid],
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset canvas[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset embed[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset output[data-rid],
.alchemy-reset ruby[data-rid],
.alchemy-reset section[data-rid],
.alchemy-reset summary[data-rid],
.alchemy-reset time[data-rid],
.alchemy-reset mark[data-rid],
.alchemy-reset audio[data-rid],
.alchemy-reset video[data-rid],
.alchemy-reset button[data-rid],
.alchemy-reset select[data-rid],
.alchemy-reset [data-rid] > p {
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
  background-color: transparent;
}
.alchemy-reset .alchemy-rte a,
.alchemy-reset .alchemy-rte p,
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte u,
.alchemy-reset .alchemy-rte b,
.alchemy-reset .alchemy-rte i,
.alchemy-reset .alchemy-rte h1,
.alchemy-reset .alchemy-rte h2,
.alchemy-reset .alchemy-rte h3,
.alchemy-reset .alchemy-rte mark {
  font-style: inherit;
  font-family: inherit;
  text-decoration: inherit;
  text-align: inherit;
  text-transform: inherit;
  color: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  vertical-align: baseline;
  font-size: 100%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.alchemy-reset .alchemy-rte a::-webkit-scrollbar,
.alchemy-reset .alchemy-rte p::-webkit-scrollbar,
.alchemy-reset .alchemy-rte s::-webkit-scrollbar,
.alchemy-reset .alchemy-rte u::-webkit-scrollbar,
.alchemy-reset .alchemy-rte b::-webkit-scrollbar,
.alchemy-reset .alchemy-rte i::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h1::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h2::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h3::-webkit-scrollbar,
.alchemy-reset .alchemy-rte mark::-webkit-scrollbar {
  display: none;
}
.alchemy-reset .alchemy-rte b,
.alchemy-reset .alchemy-rte strong,
.alchemy-reset .alchemy-rte u,
.alchemy-reset .alchemy-rte i,
.alchemy-reset .alchemy-rte em,
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte del,
.alchemy-reset .alchemy-rte li,
.alchemy-reset .alchemy-rte span {
  font-family: inherit;
}
.alchemy-reset .alchemy-rte u {
  text-decoration: underline;
}
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte del {
  text-decoration: line-through;
}
.alchemy-reset .alchemy-rte i {
  font-style: italic;
}
.alchemy-reset .alchemy-rte b {
  font-weight: bold;
}
.alchemy-reset .alchemy-rte ul,
.alchemy-reset .alchemy-rte li {
  list-style: inherit;
  padding-left: 1.7em;
}
.alchemy-reset .alchemy-rte code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}
.alchemy-reset .alchemy-rte pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.alchemy-reset .alchemy-rte pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.alchemy-reset .alchemy-rte img {
  max-width: 100%;
  height: auto;
}
.alchemy-reset .alchemy-rte blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}
.alchemy-reset .alchemy-rte hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset section[data-rid] {
  display: block;
}
.alchemy-reset body {
  line-height: 1;
}
.alchemy-reset blockquote,
.alchemy-reset q {
  quotes: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.alchemy-reset blockquote:before,
.alchemy-reset blockquote:after,
.alchemy-reset q:before,
.alchemy-reset q:after {
  content: "";
  content: none;
}
.alchemy-reset table {
  border-collapse: collapse;
  border-spacing: 0;
}
.alchemy-reset button > picture,
.alchemy-reset button > img,
.alchemy-reset a > picture,
.alchemy-reset a > img {
  display: flex;
}

#replo-fullpage-element {
  max-width: 100vw;
  flex-grow: 1;
  align-self: stretch;
}

.outline--blue {
  outline: 2px solid #2563eb;
}

.strike::after {
  content: "";
  border-bottom: 3px solid black;
  position: absolute;
  left: 0;
  top: calc(50% - 3px);
  width: 100%;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(100px);
}

.replo-modal-after-open {
  overflow-y: hidden !important;
}

.carouselV3--slide-reset {
  max-width: none !important;
}

.carouselV3-no-transition {
  transition: none;
}

.carouselV3-fade-transition {
  transition: opacity 1000ms;
}

.carouselV3-hidden-slide {
  transition: opacity 1000ms;
  opacity: 0;
}

.carouselV3-visible-slide {
  transition: opacity 1000ms;
  opacity: 1;
}

.splide li {
  padding: 0 !important;
  margin: 0;
}
.splide li::before {
  display: none !important;
}
.splide .splide__list {
  overflow: visible !important;
}

@keyframes replo-marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--replo-marquee-width, 100%) * -1 / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--replo-marquee-width, 100%) * -1 / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-marquee-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(calc(-50% + var(--replo-marquee-width, 100%) / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-fade {
  from {
    opacity: var(--initial-opacity);
  }
  to {
    opacity: var(--final-opacity);
  }
}
@keyframes alchemy-slide-y {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0);
  }
}
@keyframes alchemy-slide-x {
  from {
    opacity: var(--initial-opacity);
    transform: translateX(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateX(0);
  }
}
@keyframes alchemy-flip-y {
  from {
    opacity: var(--initial-opacity);
    transform: rotateY(var(--angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotateY(0);
  }
}
@keyframes alchemy-flip-x {
  from {
    opacity: var(--initial-opacity);
    transform: rotateX(var(--angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotateX(0);
  }
}
@keyframes alchemy-grow {
  from {
    opacity: var(--initial-opacity);
    transform: scale(var(--initial-scale));
  }
  to {
    opacity: var(--final-opacity);
    transform: scale(var(--final-scale));
  }
}
@keyframes alchemy-spin {
  from {
    opacity: var(--initial-opacity);
    transform: rotate(var(--initial-angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotate(var(--final-angle));
  }
}
@keyframes alchemy-fly-y {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset)) scale(0);
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0) scale(1);
  }
}
@keyframes alchemy-fly-x {
  from {
    opacity: var(--initial-opacity);
    transform: translateX(var(--offset)) scale(0);
  }
  to {
    opacity: var(--final-opacity);
    transform: translateX(0) scale(1);
  }
}
@keyframes alchemy-drop {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0);
  }
}
@keyframes replo-spin {
  to {
    transform: rotate(360deg);
  }
}
.replo-animate-spinner {
  animation: replo-spin 1s linear infinite;
}

[data-replo-collapsible] .replo-animated {
  overflow: hidden;
}

[data-replo-collapsible] .replo-animated[data-state=open] {
  animation: slideDown 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

[data-replo-collapsible] .replo-animated[data-state=closed] {
  animation: slideUp 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}
@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

[data-replo-component-root=carousel]:where([data-replo-part-id=slide-track]) {
  scrollbar-width: none;
}
[data-replo-component-root=carousel]:where([data-replo-part-id=slide-track])::-webkit-scrollbar {
  display: none;
}</style><style id="alchemy-runtime-css">
    html,
    body {
      zoom: unset !important;
    }

    body {
      overflow-y: visible !important;
    }
      main, #main {
        margin: 0 !important;
        padding: 0 !important;
        max-width: none !important;
        max-height: none !important;
      }
     </style><style>
  header, #shopify-section-header, #shopify-section-header-classic, .main_nav, .main-nav, .navbar, #mobile-header-sticky-wrapper, .nav, .header-wrapper, [data-site-header], #shopify-section-static-header, #header, .main-header, #site-header, .shopify-section-group-header-group { display: none !important }
  .main-content { padding-top: 0 !important; margin-top: 0 !important }
</style><div class="alchemy__element alchemy-reset"><div data-rid="4287cbaa-6b0a-47c6-8916-b797b8a9591c" data-replo-repeated-index=".0" class="r-12hafin"><div class="r-146r4yb" data-rid="1"><div data-rid="6a8409f8-33f5-4941-8d5d-d7d8b647eef6" data-replo-repeated-index=".0.0" class="r-kzsx1p"><div data-rid="c03483c1-e27d-4229-bf1d-00b7d9d415c6" data-replo-repeated-index=".0.0.0" class="r-1d2n8qs"></div><div data-rid="d7f5d456-9570-4184-922a-e1dd9aee4664" data-replo-repeated-index=".0.0.0" class="r-4lomdk"><picture data-rid="35ea97dd-d223-4032-bb04-eda003f44d01" data-replo-repeated-index=".0.0.0.0" class="r-9lbtkb"><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/uaaaqqusvk1oqvcnb0nh.png?v=1705943690&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/uaaaqqusvk1oqvcnb0nh.png?v=1705943690&amp;width=934" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/uaaaqqusvk1oqvcnb0nh.png?v=1705943690&amp;width=934" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/uaaaqqusvk1oqvcnb0nh.png?v=1705943690&amp;width=934" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/uaaaqqusvk1oqvcnb0nh.png?v=1705943690" class="r-r5mzvu" loading="eager"/></picture></div><div data-rid="7b986453-3c28-4c56-a3de-1da34b8e85bb" data-replo-repeated-index=".0.0.0" class="r-3exnzy"></div></div></div><div data-rid="0b9cb271-fe1b-4f8d-901e-1c135a12a0e7" data-replo-repeated-index=".0.0" class="r-5dw5kk"><div data-rid="490d80d2-1323-471e-8475-f3b29c8bfacc" data-replo-repeated-index=".0.0.0" class="r-17kaq1o"><div data-rid="13892ff2-9323-415c-81c3-f2351374a633" data-replo-repeated-index=".0.0.0.0" class="r-1q6dn9c"><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="#483021FF" class="r-qj1k7" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="#483021FF" class="r-qj1k7" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="#483021FF" class="r-qj1k7" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="#483021FF" class="r-qj1k7" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="#483021FF" class="r-qj1k7" viewBox="0 0 16 16"><path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"></path></svg></div><div data-rid="f075b6e2-f1a0-417f-b6c7-687d3a09c841" data-replo-repeated-index=".0.0.0.0" class="r-2tsmgc alchemy-rte"><span contenteditable="false" style="width:100%"><p>40,000+ Reviews</p></span></div></div><div data-rid="853959f6-3fea-4537-bb19-d794760788e4" data-replo-repeated-index=".0.0.0" class="r-4nq3w3"><div data-rid="994518dc-6e48-4b3d-a778-13339eb8a08e" data-replo-repeated-index=".0.0.0.0" class="r-1c3lw5s alchemy-rte"><span contenteditable="false" style="width:100%"><p>The Best T-Shirts for Dad Bods: 5 Reasons Why Men Are Switching to True Classic</p></span></div><div data-rid="3844310d-4878-48d3-b342-f6f54b3de533" data-replo-repeated-index=".0.0.0.0" class="r-kygmge alchemy-rte"><span contenteditable="false" style="width:100%"><p>"My wife was like 'Wait, when did you start working out?!'"</p></span></div><a data-rid="be62bf37-6f85-4c55-b959-974d75fbd848" data-replo-repeated-index=".0.0.0.0" tabindex="0" role="link" class="text r-l7doa9 alchemy-rte" href="https://www.trueclassictees.com/collections/crew-neck-tees"><div data-rid="d926721b-6fbf-4a9a-b047-069e4cee1707" data-replo-repeated-index=".0.0.0.0.0" class="r-vkjbjp alchemy-rte"><span contenteditable="false" style="width:100%"><p><strong>SHOP NOW</strong></p></span></div></a></div></div><div data-rid="e4512374-4884-4a67-9122-795aa4646521" data-replo-repeated-index=".0.0" class="r-9yczt4"><div data-rid="e45c7150-d267-4ad9-90c2-13d17940b0d8" data-replo-repeated-index=".0.0.0" class="r-rqzne5"><div data-rid="812457cf-d0bb-434e-b2ea-2c31ca08cedd" data-replo-repeated-index=".0.0.0.0" class="r-ad9gs6"><picture data-rid="5c26ec2f-0ffa-4d94-82f7-b86fc4eede18" data-replo-repeated-index=".0.0.0.0.0" class="r-dp8ver"><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-7-82e56beb15.gif?v=1706038367&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-7-82e56beb15.gif?v=1706038367&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-7-82e56beb15.gif?v=1706038367&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-7-82e56beb15.gif?v=1706038367&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-7-82e56beb15.gif?v=1706038367" class="r-17ejpgy" loading="eager"/></picture><div data-rid="49e6beb7-1242-4c32-a134-9ac67f2eb493" data-replo-repeated-index=".0.0.0.0.0" class="r-19e753"><div data-rid="54785888-282a-4950-be39-9b008d5dca1e" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1f1m9ob alchemy-rte"><span contenteditable="false" style="width:100%"><p>1. Look jacked WITHOUT going to the gym</p></span></div><div data-rid="8c39942d-56df-4574-81aa-e2c1a665cb6d" data-replo-repeated-index=".0.0.0.0.0.0" class="r-kf9lnw alchemy-rte"><span contenteditable="false" style="width:100%"><p>Go from DAD to <em>DADDY</em>. O<span>ur premium tees are designed to be tighter around your arms, chest and shoulders, with a little room in the belly to hide you 'dad bod'.</span><span style="color: rgb(0, 0, 0)"><br></span></p></span></div></div></div><div data-rid="d895369c-3a19-4144-ac28-2ec83a50fb2a" data-replo-repeated-index=".0.0.0.0" class="r-1gaakc2"><picture data-rid="3d1d4928-65a9-4b2a-bb2a-ec8da58365ab" data-replo-repeated-index=".0.0.0.0.0" class="r-1dkq3f6"><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-2-a614373335.gif?v=1706038567&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-2-a614373335.gif?v=1706038567&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-2-a614373335.gif?v=1706038567&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-2-a614373335.gif?v=1706038567&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-2-a614373335.gif?v=1706038567" class="r-pjewk" loading="eager"/></picture><div data-rid="401fd5ac-94d2-4864-b8d7-3e68a9487b94" data-replo-repeated-index=".0.0.0.0.0" class="r-1psn08o"><div data-rid="2be27eb9-f9d1-4da5-88a2-a08035f07aca" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1ux1jgi alchemy-rte"><span contenteditable="false" style="width:100%"><p>2. Buttery soft &amp; breathable</p></span></div><div data-rid="78425c3b-d0b1-4db6-a455-eb8ec9545fdd" data-replo-repeated-index=".0.0.0.0.0.0" class="r-144f1c7 alchemy-rte"><span contenteditable="false" style="width:100%"><p><span>Say goodbye to itchy and tight with a tee that fits just right. Every stitch, designed with all-day comfort and softness you have to feel to believe:</span><br><br></p><p> <span>Ultra-soft signature fabric</span></p><p> <span>Free movement in shoulders</span></p><p> <span>Stretchy and breathable&nbsp;</span></p><p> <span>Stylish, classic fit for all sizes</span></p></span></div></div></div><div data-rid="1b2bece3-1b6d-461b-928d-68b9c59e8b95" data-replo-repeated-index=".0.0.0.0" class="r-37qoj8"><picture data-rid="6b8438d9-ed01-4bb4-8db3-fcf81cd040b0" data-replo-repeated-index=".0.0.0.0.0" class="r-1krcjnt"><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-3-54463914b6.gif?v=1706041505&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-3-54463914b6.gif?v=1706041505&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-3-54463914b6.gif?v=1706041505&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-3-54463914b6.gif?v=1706041505&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-3-54463914b6.gif?v=1706041505" class="r-1sef9ao" loading="eager"/></picture><div data-rid="d6379879-d4af-4e49-b688-1ae57ff582b4" data-replo-repeated-index=".0.0.0.0.0" class="r-nft4bl"><div data-rid="1c770751-27b7-4212-8060-39ba80507be8" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1n5vaj0 alchemy-rte"><span contenteditable="false" style="width:100%"><p>3. Premium quality, for <u>less</u></p></span></div><div data-rid="f04fcdeb-e375-443a-a1f0-4b7189e54f67" data-replo-repeated-index=".0.0.0.0.0.0" class="r-9ct0x5 alchemy-rte"><span contenteditable="false" style="width:100%"><p>Looking good, shouldn't cost a fortune. We cut the markup so you get three premium quality t-shirts for <em>less</em> than the price of one designer tee!&nbsp;<br></p></span></div></div></div><div data-rid="be1af0f9-c0f2-45b0-9a24-dcda0c742402" data-replo-repeated-index=".0.0.0.0" class="r-15b3eue"><picture data-rid="cc4a8eea-30b2-4c44-991c-4496771ee362" data-replo-repeated-index=".0.0.0.0.0" class="r-9p6h18"><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-5-45e34b76f0.gif?v=1706039985&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-5-45e34b76f0.gif?v=1706039985&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-5-45e34b76f0.gif?v=1706039985&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-5-45e34b76f0.gif?v=1706039985&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-5-45e34b76f0.gif?v=1706039985" class="r-hra1ya" loading="eager"/></picture><div data-rid="76cab261-59a9-49c8-be9c-529a9a739bdc" data-replo-repeated-index=".0.0.0.0.0" class="r-1q0kqut"><div data-rid="206b53b8-fdd0-4e87-b83e-74494f40cf40" data-replo-repeated-index=".0.0.0.0.0.0" class="r-ofv8lg alchemy-rte"><span contenteditable="false" style="width:100%"><p>4. 1 Shirt sold every 5 seconds</p></span></div><div data-rid="7491cdd3-ec5c-4f70-856d-8e2f396f435d" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1gvaxcq alchemy-rte"><span contenteditable="false" style="width:100%"><p><em><span style="color: rgb(83, 67, 58)">87% of guys agree they look more fit in a True Classic tee.*</span></em><br><br></p><p><span style="color: rgb(40, 40, 40)">My friends keep asking if I've lost weight or been hitting the gym. I'd give these 6 stars if I could!"</span><br><br></p><p> - Brian G.<br><br></p><p><span style="color: rgb(40, 40, 40)">The fit is unreal, tighter in the right spots around the shoulders and arms, and tapered but not to snug in the lower torso.</span><br><br></p><p> - Andrew B.<br><br></p><p><span style="color: rgb(40, 40, 40)">They fit better than any other t-shirt in my closet. Incredibly soft, flexible fabric, and miraculously don't take on body odor as easily as other t-shirts.</span><br><br></p><p> - Gabe L.</p></span></div></div></div><div data-rid="233d41d3-9dde-4713-9d56-b49bdfbc14fa" data-replo-repeated-index=".0.0.0.0" class="r-1g4w0k2"><picture data-rid="9df085a0-b0cc-4dad-bbf2-0a61b5f51bc7" data-replo-repeated-index=".0.0.0.0.0" class="r-185uxfg"><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-5-1e05f87253.gif?v=1706040712&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-5-1e05f87253.gif?v=1706040712&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-5-1e05f87253.gif?v=1706040712&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-5-1e05f87253.gif?v=1706040712&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0220/4008/4552/files/ezgif-5-1e05f87253.gif?v=1706040712" class="r-1abzrw9" loading="eager"/></picture><div data-rid="96be0ff4-35be-41b0-8d08-4973bda06594" data-replo-repeated-index=".0.0.0.0.0" class="r-j2ptwd"><div data-rid="79328548-8d89-49bc-8b5d-2ba3a28185a7" data-replo-repeated-index=".0.0.0.0.0.0" class="r-u2xwv2 alchemy-rte"><span contenteditable="false" style="width:100%"><p>5. The 'perfect fit' guarantee</p></span></div><div data-rid="f34fd593-3215-412d-a982-145b14f634c3" data-replo-repeated-index=".0.0.0.0.0.0" class="r-z8rd1a alchemy-rte"><span contenteditable="false" style="width:100%"><p><span style="color: rgb(83, 67, 58)">We guarantee a perfect fit and unmatched durability or get your money back, no questions asked.</span><br><br>Thats why every product comes with a <a href="https://www.trueclassictees.com/pages/fit-guarantee"><u>Perfect Fit, Made to Last Guarantee</u></a>  if it doesnt fit right, let us know within 30 days and well replace it for free, no questions asked.</p></span></div></div></div></div></div><div data-rid="c26311a0-c5f6-4446-8342-4568f55a061b" data-replo-repeated-index=".0.0" class="r-1hfmoi1"><div data-rid="eb7e06ab-8eb9-404a-9ab6-68b02e6fa898" data-replo-repeated-index=".0.0.0" class="r-ce5213"><div data-rid="de98c998-697a-45bc-a350-7c317ac8584c" data-replo-repeated-index=".0.0.0.0" class="r-1o2e3np"><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="#FFFFFFFF" class="r-noopxz" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="#FFFFFFFF" class="r-noopxz" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="#FFFFFFFF" class="r-noopxz" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="#FFFFFFFF" class="r-noopxz" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="#FFFFFFFF" class="r-noopxz" viewBox="0 0 16 16"><path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"></path></svg></div><div data-rid="ab16a765-3ac7-489a-8ac8-f24364fe505a" data-replo-repeated-index=".0.0.0.0" class="r-myl1hk alchemy-rte"><span contenteditable="false" style="width:100%"><p>40,000+ Reviews</p></span></div></div><div data-rid="d228bebc-9ae1-4752-bb42-7cfdf3db73bb" data-replo-repeated-index=".0.0.0" class="r-1j7o5hf alchemy-rte"><span contenteditable="false" style="width:100%"><p><strong>GET UP TO 50% OFF</strong></p></span></div><div data-rid="c1ee9c8c-1323-4a07-93eb-74fcafde4f10" data-replo-repeated-index=".0.0.0" class="r-1yzv1e2 alchemy-rte"><span contenteditable="false" style="width:100%"><p>*SELECT PACKS</p></span></div><a data-rid="2b189ee2-08f6-4c3c-b537-b3161e79f0ac" data-replo-repeated-index=".0.0.0" tabindex="0" role="link" class="text r-16wo5gz alchemy-rte" href="https://www.trueclassictees.com/collections/crew-neck-tees"><div data-rid="3cd3d564-33d4-46f5-84af-1ac6bc1a18a5" data-replo-repeated-index=".0.0.0.0" class="r-10ti3m8 alchemy-rte"><span contenteditable="false" style="width:100%"><p><strong>SHOP NOW</strong></p></span></div></a></div></div></div></div>

    <script id="replo-deps-element-id" data-id="85925232712"></script>
  <script type="application/json" id="replo-deps-shopify-store">{ "shop": { "moneyFormat": {{ shop.money_format | json }} } }</script>
    </div>
